@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&family=Orbitron:wght@100;700&display=swap'); 

html, body, div, p, [class*="css"] {
    font-family: 'Roboto Mono', monospace; 
    font-size: 18px;
    font-weight: 700;
    color: #00FF00;
}